<!DOCTYPE html>
<html html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>AddedPet</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.6.0/css/bootstrap.css">
</head>
<body>
<p class="h3"> Added pet is: </p>
<p>Pet with name: "<span class="badge bg-light text-dark"
                         th:text="${petsName}"></span>
    <span>" and breed: "</span>
    <span class="badge bg-light text-dark"
          th:text="${petsBreed}"></span>
    <span>" and birthday: "</span>
    <span class="badge bg-light text-dark"
          th:text="${petsBirthDate}"></span>
    " added successfuly!
</p>

    <a class="btn btn-secondary" aria-current="page" href="/" role="button">Return to main page</a>
</body>
</html>