<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.6.0/css/bootstrap.css">
</head>
<body>
<div class="container">
    <h1 th:text="${subTitle}"></h1>
    <div th:if="${not isLoggedIn}">
        <a href="/login">Login</a>
        <!--    <a href="/register">Register</a>-->
    </div>
    <table class="table table-striped">
        <thead class="thead-dark">

        <tr>
            <th scope="row"></th>
            <th scope="col">Nickname</th>
            <th scope="col">Breed</th>
            <th scope="col">Birthday</th>
            <th scope="col">Breeder Name</th>
            <th scope="col">Reserved or not</th>

        </tr>

        </thead>
        <tbody th:if="${not pets.isEmpty()}">

        <th:block th:each="pet : ${pets}">
            <tr>
                <th scope="row"></th>
                <td th:text="${pet.nickname}">Nickname</td>
                <td th:text="${pet.breed}">Breed</td>
                <td th:text="${pet.birthDay}">Birthday</td>
                <td th:text="${pet.breeder}">Breeder Name</td>
                <td th:text="${pet.isReserved}">Reserved or not</td>
            </tr>

        </th:block>
        </tbody>
        <tbody th:if="${pets.isEmpty()}">
        <tr>
            <td> No pets found.</td>
        </tr>
        </tbody>
    </table>
    <form action="/add" method="post" th:if="${isAdmin}">
        <p>
            <label>
                Pet nickname:
                <input type="text" name="nickname">
            </label>
        </p>
        <p>
            <label>
                Breed:
                <input type="text" name="breed">
            </label>
        </p>
        <p>
            <label>
                Birth Day:
                <input type="date" name="birthday">
            </label>
        </p>
        <p>
            <input type="submit">
        </p>
    </form>
</div>
</body>
</html>