<!DOCTYPE html>
<html html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.6.0/css/bootstrap.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <h3>New user Registration</h3>
        </div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <form action="/registration" method="post" th:object="${form}">

<!--                <fieldset>-->
<!--                    <div class="form-group">-->
<!--                        <label class="control-label" for="userName">User name</label>-->
<!--                        <input type="text" class="form-control input-xlarge" id="userName" name="userName">-->
<!--                    </div>-->

<!--                    <div class="form-group">-->
<!--                        <label class="control-label" for="password">Password</label>-->
<!--                        <input type="password" class="form-control input-xlarge" id="password" name="password">-->
<!--                    </div>-->

<!--                    <button type="submit" class="btn btn-primary">Registration</button>-->
<!--                    <a class="btn btn-secondary" aria-current="page" href="/" role="button">Return</a>-->
<!--                </fieldset>-->

                <p>
                    <label >
                        New user Login:
                        <input type="text" name="userLogin" th:text="*{userLogin}">
                    </label>

                    <span th:if="${bindingResult.hasFieldErrors('userLogin')}"
                          th:text="${bindingResult.getFieldErrors('userLogin')}"></span>
                </p>
                <p>
                    <label>
                        Password:
                        <input type="password" name="password" th:text="*{password}">
                    </label>

                    <span th:if="${bindingResult.hasFieldErrors('password')}"
                          th:text="${bindingResult.getFieldErrors('password')}"></span>
                </p>

            <button type="submit" class="btn btn-primary">Registration</button>
            <a class="btn btn-secondary" aria-current="page" href="/" role="button">Return</a>
            </form>
        </div>
        <div class="col"></div>
    </div>

</div>
</body>
</html>